:root {
    //COLOR SCHEME
    --color-primary: #0ce5e1;
    --color-primary-med: #50b6bb;
    --color-primary-dark: #45969b;

    --color-secondary: #ff0340;

    --color-light: #f2eaec;

    --color-dark: #0a1216;
}