.header {
    padding: .5rem 2rem;
    background-color: var(--color-dark);
    width: 100%;
    border-bottom: 2px solid var(--color-light-2);

    //flexbox properties
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5.5rem;
    height: 5.5rem;
}