.header {
    padding: .5rem 2rem;
    background-color: var(--color-dark);

    &__container {
        @include container-properties;

        //flexbox properties
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 5.5rem;
    height: 5.5rem;
}