.container {
    @include container-properties;

    //flexbox properties
    display: flex;
}

.side-nav {
    padding-top: 2rem;
    background-color: var(--color-dark);
    color: var(--color-light);

    //Flex item properties
    flex: 0 0 15%;
}

.content-view {
    background-color: var(--color-light);
    flex: 0 0 85%;

    //flexbox properties
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 4.5rem;
    line-height: 7rem;
    letter-spacing: 2px;
    margin: 0 auto;
}