.container {
    margin: 5rem auto;
    max-width: 130rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .3);
}

.main {
    display: flex;
    overflow: hidden;
}

.side-nav {
    background-color: var(--color-dark);
    color: var(--color-light);

    //Flex item properties
    flex: 0 0 15%;
}

.content-view {
    background-color: var(--color-light);
    flex: 0 0 85%;

    //flexbox properties
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: 'Arvo', serif;;
    font-size: 4.5rem;
    line-height: 7rem;
    letter-spacing: 2px;
    margin: 4rem auto;
}