.discussions {
    padding: 1rem .5rem;
    margin-top: .5rem;
    width: 100%;
    font-size: 1.2rem;
    
    @media only screen and (max-width: $bp-m) {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    &__heading {
        display: inline;
        font-weight: 600;
    }

    &__topic {
        display: inline;
        padding-left: .2rem;
        
        //separate each topic
        &:not(:last-child):after {
            content: " | ";
        }

        @media only screen and (max-width: $bp-m) {
            display: block;
        }
    }
}