.news {
    display: flex;
    position: relative;

    &__story {
        max-width: 33.3333%;
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__text {
        position: relative;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: -2rem;
        padding-left: .5rem;

        //place in front of ::after background
        z-index: 3;

        //avoid text wrapping
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    //transparent light background to make figcaption readable
    &::after {
        content: '';
        position: absolute;
        height: 2.5rem;
        width: 100%;
        bottom: -.5rem;
        left: 0;
        background-color: var(--color-light-bg);

        z-index: 1;
    }
}